{% extends 'base.html' %}
{% block content %}

<h1> Amolali Bakery </h1>

<h5>NPM: </h5>
<p>{{ npm }}<p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

{% if not product_entries %}
<p>Belum ada data product pada amolali bakery.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Category</th>
    <th>Description</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data product di bawah baris ini 
  {% endcomment %} 
  {% for product in product_entries %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td><img src="{{product.image}}" alt="{{product.name}}" style="width: 200px; height: 200px;"></td>
    <td>{{product.category}}</td>
    <td>{{product.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
  <button>Add New Product</button>
</a>

{% endblock content %}
