<h1>Amolali Bakery</h1>
<h3>Salsabila Arumdapta - PBP A - 2306245560</h3>

<h5>Name: </h5>
<p>{{ blueberry_cheesecake.name }}</p> <!-- nama menu -->
<h5>Price: </h5>
<p>{{ blueberry_cheesecake.price }}</p> <!-- harga per pcs -->
<h5>Description: </h5>
<p>{{ blueberry_cheesecake.description }}</p> <!-- deskripsi menu -->
<h5>Category: </h5>
<p>{{ blueberry_cheesecake.category }}</p> <!--kategori menu -->
<img src="{{blueberry_cheesecake.image}}" style = 'width: 200; height: 200;'>
<p>{{ blueberry_cheesecake.space }}</p> <!--untuk jarak pemisah-->

<h5>Name: </h5>
<p>{{ tiramisu.name }}</p> <!-- nama menu -->
<h5>Price: </h5>
<p>{{ tiramisu.price }}</p> <!-- harga per pcs -->
<h5>Description: </h5>
<p>{{ tiramisu.description }}</p> <!-- deskripsi menu -->
<h5>Category: </h5>
<p>{{ tiramisu.category }}</p> <!--kategori menu -->
<img src="{{tiramisu.image}}" style = 'width: 200; height: 200;'>
<p>{{ tiramisu.space }}</p> <!--untuk jarak pemisah-->

<h5>Name: </h5>
<p>{{ croissant.name }}</p> <!-- nama menu -->
<h5>Price: </h5>
<p>{{ croissant.price }}</p> <!-- harga per pcs -->
<h5>Description: </h5>
<p>{{ croissant.description }}</p> <!-- deskripsi menu -->
<h5>Category: </h5>
<p>{{ croissant.category }}</p> <!--kategori menu -->
<img src="{{croissant.image}}" style = 'width: 200; height: 200;'>
<p>{{ croissant.space }}</p> <!--untuk jarak pemisah-->


