<h1>Amolali Bakery</h1>
<h3>Salsabila Arumdapta - PBP A</h3>

<h5>Name: </h5>
<p>{{ blueberry_cheesecake.name }}</p> <!-- nama menu -->
<h5>Price: </h5>
<p>{{ blueberry_cheesecake.price }}</p> <!-- harga per pcs -->
<h5>Description: </h5>
<p>{{ blueberry_cheesecake.description }}</p> <!-- deskripsi menu -->
<h5>Category: </h5>
<p>{{ blueberry_cheesecake.category }}</p> <!--kategori menu -->
<p>{{ blueberry_cheesecake.space }}</p> <!--untuk jarak pemisah-->

<h5>Name: </h5>
<p>{{ cromboloni.name }}</p> <!-- nama menu -->
<h5>Price: </h5>
<p>{{ cromboloni.price }}</p> <!-- harga per pcs -->
<h5>Description: </h5>
<p>{{ cromboloni.description }}</p> <!-- deskripsi menu -->
<h5>Category: </h5>
<p>{{ cromboloni.category }}</p> <!--kategori menu -->
<p>{{ cromboloni.space }}</p> <!--untuk jarak pemisah-->

<h5>Name: </h5>
<p>{{ croissant.name }}</p> <!-- nama menu -->
<h5>Price: </h5>
<p>{{ croissant.price }}</p> <!-- harga per pcs -->
<h5>Description: </h5>
<p>{{ croissant.description }}</p> <!-- deskripsi menu -->
<h5>Category: </h5>
<p>{{ croissant.category }}</p> <!--kategori menu -->
<p>{{ croissant.space }}</p> <!--untuk jarak pemisah-->
